body{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 50%,rgba(9,9,121,1) 100%);
text-align: center;
}
.formulario{
    text-align: center;
    width: 290px;
    background-color: black;
    color: rgba(0,212,255,1);
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-130%);
}
.qrcode{
    position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-10%);
}